<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parse-client-id</key>
	<string>w9coUY8M1nT72u3cu5ls1i1QtOceWzTxzovP4xBO</string>
	<key>parse-app-id</key>
	<string>PlfBEKp5m3j338c4qItMOnQkdcCu87RnsObcQkM9</string>
</dict>
</plist>
